#app {
    position: relative;
    width: 100%;

}

.wrapper-block{
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.primary-slider{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

}

.primary-slider .primary-banner {
    max-width: 1600px;
}

.primary-slider .primary-banner .banner {
    position: absolute;
    z-index: 91;
    width: 14%;
    top: 15%;
    left: 8.5%;
}

.despre {
    margin-top: 100px;
}

.block-title{
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
    text-transform: uppercase;
}

.block-title::after{
    content: '';
    display: block;
    margin-top: 10px;
    width: 70px;
    height: 5px;
    background-color: var(--primary-color);
    margin-bottom: 24px;
}

.preview-photo{
    margin-top: 60px;
}

.preview-title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-primary-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.finish-block{
    margin-top: 140px;
}

.col-4 {
    width: 32%;
}

.col-6 {
    width: 48%;
}
