.about-developer{
    margin-top: 80px;
    margin-bottom: 80px;
}

.about-developer .grey-line{
    border-top: 1px solid #ADBBC2;
    padding: 0 0px 80px 0px;
    width: 100%;
    margin: 0 auto;
}

.about-developer .left-bar .title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
    text-transform: uppercase;
}

.about-developer .left-bar .description{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
}

.about-developer .right-bar{
    padding: 0;
}

.about-developer .right-bar img{
    width: 100%;
    height: auto;

}

