.advantages-wrapper {
    max-width: 1920px;
    z-index: 50;
    position: relative;
    margin: 0 auto;
    padding: 100px 0 150px 0;
    background-image: url('../images/Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.advantages-wrapper::before{
    content: '';
    position: absolute;
    z-index: 51;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-background-color);
    opacity: 0.9;
}

.advantages-wrapper .advantages-content-wrapper {
    position: relative;
    z-index: 52;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .info-title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    max-width: 900px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .advantage-list {
    margin-top: 42px;
    max-width: 900px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .advantage-list .item{
    margin-bottom: 30px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .advantage-list .item .tick{
    width: 27px;
    height: 27px;
    margin-right: 17px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .advantage-list .item .item-container .item-title{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .advantage-list .item .item-container .item-description{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .btn-bar {
    margin-top: 60px;
    padding-left: 44px;
}

.advantages-wrapper .advantages-content-wrapper .info-bar .btn-bar .faza-switcher{
    width: 350px;
    height: 60px;
    margin: 0 15px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.advantages-wrapper .advantages-content-wrapper .info-bar .btn-bar .faza-switcher .btn-icon{
    width: 12px;
    height: 22px;
    margin-right: 5px;
}


