.apartament{
    margin-top: 80px;
}

.details-block{
    background-color: var(--light-gray);
    width: 100%;
    min-height: 77px;
    border-radius: 4px;
    padding-left: 25px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.details-block .title-dropdown h5{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
    cursor: pointer;
}

.details-block .title-dropdown span{
    color: #B70021;
}

.details-block .title-dropdown .icon-open{
    height: 27px;
    width: 20px;
    margin: 10px;
    cursor: pointer;
}

.details-block .details-content{
    margin-top: 40px;
    padding-bottom: 45px;
}

.details-block .details-content .details-title{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
}

.details-block .details-content .apartament-scheme{
    margin-top: 20px;
}

.details-block .details-content .contact-btn{
    border-radius: 4px;
    border: 2px solid var(--primary-color);
    padding:  22px 55px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 40px;
}
