.contact-form {
    max-width: 1920px;
    z-index: 50;
    position: relative;
    margin: 0 auto;
    padding: 80px 0 80px 0;
    background-color: var(--primary-background-color);
}

.contact-form .wrapper-block .contact-title{
    color: #fff;
    text-transform: capitalize;
}

.contact-form .wrapper-block .title-list{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-form .wrapper-block .contact-list{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.contact-form .wrapper-block .contact-list li::before {
    content: "●";
    color: var(--primary-color);
    font-size: 6px;
    margin-right: 7px;
}

.contact-form .wrapper-block .nusco-btn{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    padding: 13px 39px;
    margin-top: 30px;

}

.contact-form .wrapper-block .nusco-btn:hover{
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.3);
}

.contact-form .wrapper-block .right-bar{
    padding-top: 32px;
}

.contact-form .wrapper-block .right-bar .input-row{
    width: 98%;
}

.contact-form .wrapper-block .right-bar .input-col{
    width: 48.5%;
}

.contact-form .wrapper-block .right-bar .input-row .prompt{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    opacity: 50%;
}

.contact-form .wrapper-block .right-bar .input-row .veryfy{
    font-style: italic;
}

.contact-form .wrapper-block .right-bar input{
    padding: 14px 14px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #0F4057;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom: 30px;

}

.contact-form .wrapper-block .right-bar .dropdown-contact{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #0F4057;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-bottom: 30px;
    padding: 14px 14px;
    width: 100%;

}

.contact-form .wrapper-block .right-bar .dropdown-contact::after{
    float:inline-end;
    margin-top: 0.560em;
}

.contact-form .wrapper-block .right-bar .dropdown-menu{
    background-color: var(--primary-background-color);
    border-radius: 4px;
    border: none;
    width: 100%;
    border: 1px solid var(--primary-color);
}

.contact-form .wrapper-block .right-bar .dropdown-item{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    border: none;
    padding: 8px;
    border-bottom: 1px solid var(--primary-background-color);

}

.contact-form .wrapper-block .right-bar .dropdown-item:hover{
    background-color: #0F4057 ;
}

.contact-form .wrapper-block .right-bar textarea{
    padding: 14px 14px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #0F4057;
    color: #fff;
    border-radius: 4px;
    border: none;
    resize: none;
}

.contact-form .wrapper-block .right-bar .transmite-btn{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    text-transform: uppercase;
    border-radius: 4px;
    padding: 19px 40px;
    margin-top: 30px;

}

.contact-form .wrapper-block .right-bar .transmite-btn:hover{
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.3);
}
