.header{
    position: relative;
    top: 0;
    z-index: 99;
    background-color: var(--primary-background-color);
    margin: 0 auto;
    max-width: 1920px;
    height: 80px;
    opacity: 90%;
}

.header .header-wropper {
    width: 1620px;
    padding: 0px 10px;
    position: relative;
}

.header .header-wropper .open-header-btn {
    position: absolute;
    bottom: -28px;
    right: 0;
    width: 160px;
    height: 10px;
    cursor: pointer;
}

.header .header-wropper .logo {
    max-width: 152px;
    height: auto;
}

.header .header-wropper .header-nav-menu {
    margin: 0px;
    padding: 0px;
    display: block;
    color: #fff;
    width: 65%;
}

.header .header-wropper .header-nav-menu .nav-menu-item{
    position: relative;
    display: block;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.header .header-wropper .header-nav-menu .nav-menu-item a {
    color: #fff;
}

.header .header-wropper .header-nav-menu .nav-menu-item::before{
    position: absolute;
    content: '';
    bottom: -7px;
    left: 0;
    width: 0;
    height: 2px;
    transition-duration: 0.5s;
    background-color:  var(--primary-color);
}

.header .header-wropper .header-nav-menu .nav-menu-item a:hover{
    color: var(--primary-color);
}

.header .header-wropper .header-nav-menu .nav-menu-item:hover::before{
    width: 100%;
}

.header .header-wropper .header-nav-menu .nav-menu-item .home-logo {
    margin-right: 10px;
    width: 22px;
    height: auto;
}

.header .header-wropper .contact-bar .tel-logo{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.header .header-wropper .contact-bar .tel-number {
    font-family: Montserrat;
    margin: 0px;
    padding: 0px;
    color: var(--primary-color);
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
