.content-block {
    margin-bottom: 60px;
}

.content-block .sidebar-image {
    flex: 0 0 calc(50% - 15px);
    margin-bottom: 30px;
    max-width: 48%;
}

.content-block .sidebar-image img {
    width: 100%;
    height: auto;
}

.content-block .sidebar-description {
    margin-top: 40px;
    flex: 0 0 calc(50% - 15px);
    margin-bottom: 30px;
    max-width: 48%;
}

.content-block .sidebar-description .content{
    padding-left: 30px;
    border-left: 1px solid#ADBBC2;
}

.content-block .sidebar-description .content .sidebar-title{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
    margin-bottom: 5px;
}

.content-block .sidebar-description .content .sidebar-text{
    font-family: Montserrat;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--text-primary-color);
}
