.localizare{
    margin-top: 80px;
    color: var(--text-primary-color);
}

.localizare .localizare-subtitle{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.localizare .localizare-description{
    font-family: Montserrat;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.localizare .localizare-image{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
