.main-footer{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 0 0px 0;
    background-color: var(--primary-background-color);
}

.main-footer .footer{
    border-top: 1px solid #13506D;
    padding-top: 40px;
    padding-bottom: 60px;
}

.main-footer .footer .footer-left-bar .social-link .link{
    margin-right: 10px;
}

.main-footer .footer .footer-left-bar .copyright{
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.main-footer .footer .footer-right-bar .footer-link .footer-icon{
    margin-right: 10px;
}

.main-footer .footer .footer-right-bar .footer-link span{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);
}
