.video-wrapper{
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 4px;
}

.video-wrapper .video-player{
    width: 100%;
    height: auto;

}

.video-wrapper .video-player .video{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.video-wrapper .overlay{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10%;
    border-radius: 4px;
    background-color: var(--primary-background-color);
    opacity: 60%;
}

.video-wrapper .overlay .play-logo{
    flex-grow: 1;
    cursor: pointer;
}

.video-wrapper .overlay .play-logo .play-btn{
    margin: 15px;
}

.video-wrapper .overlay .overlay-logo{
    flex-shrink: 0;
}
