.slider-wropper {
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    z-index: 90;
    top: 0;
    margin-bottom: 25px;
}

.slider-wropper .slider{
    width: 100%;
    height: auto;
}

.slider-wropper .slider .slide{
    width: 100%;
    height: auto;
}

.slider-wropper .slider .swiper .swiper-wrapper{
    transition-duration: 1500ms !important;
}

.slider-wropper .slider .swiper .swiper-button-prev,
.slider-wropper .slider .swiper .swiper-button-next {
    background-color: #fff;
    color:#576B75;
    border-radius: 5px;
    margin: 0 25px;
    transform: translateY(-25px);
    opacity: 80%;
    width: 50px;
    height: 50px;
}

.slider-wropper .slider .swiper .swiper-button-disabled {
    opacity: 30%;
}

.slider-wropper .slider .swiper-pagination {
    position: relative;
    margin-top: 15px;
    bottom: 0;
    z-index: 100;
}

.slider-wropper .slider .swiper-pagination .swiper-pagination-bullet {
    border-radius: 0px;
    height: 3px;
    width: 40px;
}

.slider-wropper .slider .swiper-pagination  .swiper-pagination-bullet-active {
    background-color: var(--text-primary-color);
}


