<template>
    <div class="advantages-wrapper">
        <div class="row advantages-content-wrapper d-flex align-items-start justify-content-between">
            <div class="col-2">
                <img src="@/img/NUSCOLogofooter.svg" alt="logo" class="advantage-logo">
            </div>
            <div class="col-10 info-bar">
                <h4 class="info-title">
                    Apartamente cu compartimentări optime pentru orice familie, spații de joacă amenajate,
                    zone verzi pe suprafețe largi cu grădini generoase
                </h4>
                <ul class="advantage-list">
                    <li class="item d-flex align-items-start">
                        <img src="@/img/Tick.svg" alt="tick" class="tick">
                        <div class="item-container">
                            <h6 class="item-title">APARTAMENTE PERFECTE</h6>
                            <p class="item-description">
                                Colțul tău de rai se poate descrie așa: compartimentare de excepție,
                                terase generoase, suprafețe mari vitrate, spațiu exact cât ai nevoie pentru tot ce ai visat.
                            </p>
                        </div>
                    </li>
                    <li class="item d-flex align-items-start">
                        <img src="@/img/Tick.svg" alt="tick" class="tick">
                        <div class="item-container">
                            <h6 class="item-title">FINISAJE PREMIUM</h6>
                            <p class="item-description">
                                Apartamentele dispun de finisaje și dotări de o calitate superioară,
                                menite să asigure gradul de confort în propria locuință.
                            </p>
                        </div>
                    </li>
                    <li class="item d-flex align-items-start">
                        <img src="@/img/Tick.svg" alt="tick" class="tick">
                        <div class="item-container">
                            <h6 class="item-title">AER PROASPĂT ȘI SPAȚII VERZI</h6>
                            <p class="item-description">
                                2500 mp de spații verzi amenajate spectaculos,
                                străzi și alei interioare largi, loc de joacă pentru
                                copii cât și grija pentru aer curat.
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="row btn-bar d-flex align-items-center justify-content-start">
                    <button class="faza-switcher d-flex align-items-center justify-content-center">
                        <img src="@/img/Group6047.svg" alt="open" class="btn-icon">
                        <p>DESCARCĂ BROȘURA FAZA 2a</p>
                    </button>
                    <button class="faza-switcher d-flex align-items-center justify-content-center">
                        <img src="@/img/Group6047.svg" alt="open" class="btn-icon">
                        <p>DESCARCĂ BROȘURA FAZA 2b</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
data() {
    return {

    };
},
};
</script>
