<template>
<div class="details-block d-flex flex-column align-items-satrt justify-content-center">
    <div @click="openDetails()" class="title-dropdown d-flex align-items-center justify-content-start">
        <img src="@/img/View-More.svg" alt="open" class="icon-open">
        <h5>{{ title }} <span v-if="existence != 'true'">- Epuizat</span></h5>
    </div>
    <div v-if="isOpen" class="details-content d-flex flex-column align-items-center justify-content-center">
        <h6 class="details-title">Schița 1A</h6>
        <img src="@/img/Schita.png" alt="apartament-scheme" class="apartament-scheme">
        <button class="contact-btn">
            <div>CONTACTAȚI-NE</div>
        </button>
    </div>
</div>
</template>

<script>
export default {
props: {
    title: String,
    existence: String,
},
data() {
    return {
        isOpen: false,
    }
},
methods: {
    openDetails () {
        this.isOpen = !this.isOpen
    }
}
};
</script>
