<template>
    <div class="row p-0 d-flex justify-content-between">
        <div class="col-6 p-0 left-bar">
            <h3 class="block-title contact-title">Contact</h3>
            <h5 class="title-list">Pentru orice informații și detalii vă stăm la dispoziție</h5>
            <ul class="contact-list">
                <li class="item">preturile variaza in functie de etaj si orientare</li>
                <li class="item">dezvoltatorul isi rezerva dreptul de a modifica preturile fara o instiintare prealabila</li>
                <li class="item">fotografiile/randarile sunt cu titlu de prezentare</li>
            </ul>
            <button class="nusco-btn">nusco.ro</button>
            <img src="@/img/Nusco-illustration.svg" alt="Nuscoillustration" class="nisco-illustration">
        </div>
        <div class="col-6 p-0 right-bar d-flex flex-column justify-content-start align-items-center">
            <div class="input-row">
                <span class="prompt">Nume *</span>
                <input type="text" class=" w-100 mt-2">
            </div>
            <div class="input-row">
                <span class="prompt">Email *</span>
                <input type="mail" class="w-100 mt-2">
            </div>
            <div class="d-flex input-row justify-content-between">
                <div class="input-col">
                    <span class="col-6 prompt">Telefon *</span>
                    <input type="tel" class="w-100 mt-2">
                </div>
                <div class="dropdown input-col">
                    <span class="col-6 prompt">Motivul cumpărării *</span>
                    <button class="btn dropdown-contact dropdown-toggle mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Pentru uz personal
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Pentru uz personal</a></li>
                        <li><a class="dropdown-item" href="#">Pentru uz personal</a></li>
                    </ul>
                </div>
            </div>
            <div class="input-row">
                <span class="prompt">Mesaj</span>
                <textarea name="" cols="30" rows="5" class="w-100 mt-2"></textarea>
            </div>
            <div class="input-row d-flex justify-content-between">
                <div class="mt-5 prompt veryfy">* câmpuri obligatorii</div>
                <button type="Submit" class="transmite-btn">transmite</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
data() {
    return {

    };
},
};
</script>
