<template>
    <header class="header d-flex align-items-center justify-content-center">
        <div class="header-wropper d-flex align-items-center justify-content-between">
            <img src="@/img/Logo.svg" alt="logo" class="logo">
            <ul class="header-nav-menu d-flex align-items-center justify-content-around">
                <li class="nav-menu-item">
                    <a href="#" class="d-flex align-items-center">
                        <img src="@/img/Home.svg" alt="home" class="home-logo">
                        <span>ACASĂ</span>
                    </a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">BROȘURI</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Localizare</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Despre Proiect</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Apartament</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Finisaje</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Stadiul Lucrarilor</a>
                </li>
                <li class="nav-menu-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
            <div class="contact-bar d-flex align-items-center justify-content-center">
                <a href="#" class="d-flex align-items-center justify-content-center">
                    <img src="@/img/Phone.svg" alt="phone" class="tel-logo">
                    <p class="tel-number">0742 075 272</p>
                </a>
            </div>
            <img src="@/img/Rectangle.svg" alt="" class="open-header-btn">
        </div>
    </header>
</template>

<script>
export default {
data() {
    return {

    };
},
};
</script>




