<template>
    <div>
        <div class="content-block">
            <div class="d-flex flex-wrap justify-content-between"
            :class="(parseInt(index) % 2 != 1) ? 'flex-row-reverse' : ''">
                <div class=" col-6 sidebar-image">
                    <img :src="img"  alt="first">
                </div>
                <div class=" col-6 sidebar-description">
                    <div class="content">
                        <h5 class="sidebar-title">
                            {{title}}
                        </h5>
                        <p class="sidebar-text">
                            {{description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        index: String,
        img: String,
        title: String,
        description: String
    },
    data() {
        return {

        };
    },
};
</script>
