<template>
    <div>
        <h4 class="localizare-subtitle">În inima zonei de business din nordul orașuluiși
            în imediata apropiere a efervescenței zonelor Aviației și Floreasca</h4>
        <p class="localizare-description">Situat în nordul orașului, chiar în inima zonei de business a
            Bucureștiului și în imediata apropiere a zonelor Aviației și Floreasca, prima fază a
            ansamblului rezidențial de proporțiile unui oraș se construiește între stațiile de metrou
            Pipera și Aurel Vlaicu, la mică distanță de Promenada
            Mall și de cele mai mari clădiri de birouri din zonă.</p>
        <img src="@/img/Localizare.png" alt="Localizare" class="localizare-image">
    </div>
</template>

<script>
export default {
data() {
    return {

    };
},
};
</script>
