<template>
    <div class="wrapper-block footer d-flex justify-content-between">
        <div class="footer-left-bar">
            <img src="@/img/NUSCOLogofooter.svg" alt="logo" class="footer-logo">
            <div class="social-link mt-4">
                <a href="#" class="link">
                    <img src="@/img/Facebook.svg" alt="facebooke">
                </a>
                <a href="#" class="link">
                    <img src="@/img/Twitter.svg" alt="twitter">
                </a>
                <a href="#" class="link">
                    <img src="@/img/Youtube.svg" alt="youtube">
                </a>
                <a href="#" class="link">
                    <img src="@/img/Instagram.svg" alt="instagram">
                </a>
            </div>
            <div class="copyright mt-4">
                Copyright Nusco City 2024
            </div>
        </div>
        <div class="footer-right-bar d-flex flex-column align-items-start">
            <a href="tel:0742 075 272" class="footer-link mt-4 d-flex align-items-center">
                <img src="@/img/Phone-footer.svg" alt="tel" class="footer-icon">
                <span>0742 075 272</span>
            </a>
            <a href="tomail:sales@nuscocity.ro" class="footer-link mt-4 d-flex align-items-center">
                <img src="@/img/Email.svg" alt="mail" class="footer-icon">
                <span>sales@nuscocity.ro</span>
            </a>
            <a href="#" class="footer-link mt-4 d-flex align-items-center">
                <img src="@/img/Address.svg" alt="loc" class="footer-icon">
                <span>București, Sos Pipera 48/A - Sector 2</span>
            </a>
        </div>
    </div>
</template>

<script>
export default {
data() {
    return {

    };
},
};
</script>
