<template>
    <div class="video-wrapper">
        <div class="video-player">
            <img :src='img' alt="first" class="video">
        </div>
        <div class="overlay d-flex flex-column align-items-center">
            <div class=" play-logo d-flex flex-column align-items-center justify-content-center">
                <img src="@/img/Group6064.svg" alt="play" class="play-btn">
                <img src="@/img/Explore-3D-Space.svg" alt="logo">
            </div>
            <img src="@/img/Group6066.svg" alt="" class="overlay-logo">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        img: String,
    },
    data() {
        return {

        };
    },
};
</script>
