<template>
    <div class="slider-wropper">
        <div class="slider">
            <swiper
            :slides-per-view="1"
            :space-between="3"
            :navigation="true"
            :modules="modules"
            :pagination="true"
            :autoplay="(autoplay != 'false') ? {
                delay: 3500,
                disableOnInteraction: false,
            } : false"
            >
                <swiper-slide><img :src='img' alt="banner" class="slide"></swiper-slide>
                <swiper-slide><img :src='img' alt="banner" class="slide"></swiper-slide>
            </swiper>
        </div>
    </div>
</template>

<script>
import { Navigation, Pagination, Autoplay} from 'swiper/modules';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';


export default {
    components: {
        Swiper,
        SwiperSlide,
        },
    props: {
        img: String,
        autoplay: String,
    },
    setup() {
        return {
        modules: [Autoplay, Navigation, Pagination],
        };
    },
};
</script>
